.login{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100ch;
    background:#f3f3f3;
}
.login_logo{
    margin:20px auto;
    object-fit: contain;
    width:200px;
}
.login_container>form{

    margin-top:40px;
}
.login_container>form>h5{
    margin-bottom:5px;
}
.login_container>form>input{
    height:30px;
    margin-bottom:10px;
    background:white;
    width:98%;
    border:1px solid #eee;
}
.login_container p{
    margin:15px 0; 
    font-size:12px;
}
.login_signInButton{
    background:darkgray;
    border-radius: 2px;
    width:100%;
    height:30px;
    border:1px solid;
    margin-top:10px;
    border-color:darkgray;
    cursor:pointer;
    color:#eeee;
    font-weight:bold;
}
.login_registerButton{
    background:darkgray;
    border-radius: 2px;
    width:100%;
    height:30px;
    border:1px solid;
    margin-top:10px;
    border-color:darkgray;
    cursor:pointer;
    color:#eeee;
    font-weight:bold;
}
.formCheck{
    display:flex;
}
.formCheck>input{
    margin-left:10px;
}